:root {
    /* box-sizing: border-box; */
}

body {
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
}

body *{
    margin-top: 10px;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

.site-nav {
    display: flex;
    list-style-type: none;
    padding: 8px;
    background: burlywood;
}

.site-nav > li {
    margin-top: 0;
}

.site-nav > li > a {
    text-decoration: none;
    color: black;
    background-color:orange;
    /* padding: 1px 2px 0px 0px; */
    padding: 3px;
}

.site-nav > li + li {
    margin-left: 5px;
}

.site-nav > .nav-right {
    margin-left: auto;
}

.tile {
    padding: 5px;
    background-color: white;
}

section {
    display: flex;
}

section > * + * {
    margin-top: 0;
    margin-left: 5px;
}